.container {
    width: 80%;
}

#header {
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto 20px auto;
    font-family: 'Courier New', Courier, monospace;
}

.subheader {
    background-color: navy;
    color: white;
    padding: 5px 0px 10px 5px;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
}

#input-fields {
    border: 1px solid navy;
    padding: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: grey;
    color: white;
}

.field {
    width: 100%;
    margin-bottom: 5px;
}

.input-label {
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
}

#results {
    border: 1px solid navy;
    padding: 10px;
    margin-bottom: 20px;
    background-color: grey;
}
